In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv(r"C:\Users\illus\Downloads\all_data_used.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      36 non-null     int64
 1   COUNTRIES                       36 non-null     object
 2   Healthcare_2016 ($ per capita)  36 non-null     float64
 3   Population_2017                 36 non-null     int64
 4   HDI_2016                        36 non-null     float64
 5   GINI_year                       36 non-null     float64
 6   Unemploy_2016 (%)               36 non-null     float64
 7   Combined_2017 (%)               36 non-null     float64
 8   ASD_2017 (%)                    36 non-null     float64
 9   ADHD_2017 (%)                   36 non-null     float64
 10  DEP_2017 (%)                    36 non-null     float64
 11  SCZ_2017 (%)                    36 non-null     float64
 12  ANX_2017 (%)                    36 non-null     float64
 13  ED_2017 (%)                     36 non-null     float64
 14  ETOH_2017 (%)                   36 non-null     float64
 15  SUICIDE_2017 (per 100.000)      36 non-null     float64
 16  BD_2017 (%)                     36 non-null     float64
dtypes: float64(14), int64(2), object(1)
memory usage: 4.9+ KB

In [4]:
df.isna().sum()

Unnamed: 0                        0
COUNTRIES                         0
Healthcare_2016 ($ per capita)    0
Population_2017                   0
HDI_2016                          0
GINI_year                         0
Unemploy_2016 (%)                 0
Combined_2017 (%)                 0
ASD_2017 (%)                      0
ADHD_2017 (%)                     0
DEP_2017 (%)                      0
SCZ_2017 (%)                      0
ANX_2017 (%)                      0
ED_2017 (%)                       0
ETOH_2017 (%)                     0
SUICIDE_2017 (per 100.000)        0
BD_2017 (%)                       0
dtype: int64

In [5]:
hc_spend = df.groupby("Healthcare_2016 ($ per capita)")["COUNTRIES"].count()
hc_spend.sort_values(ascending =False, inplace = True)
hc_spend

Healthcare_2016 ($ per capita)
1065.875    1
1126.755    1
4024.490    1
4470.748    1
4512.845    1
4565.873    1
4666.226    1
4698.016    1
4774.269    1
4785.896    1
4844.017    1
5018.406    1
5048.876    1
5139.924    1
5550.175    1
5803.702    1
6942.187    1
3916.333    1
3833.251    1
3662.218    1
2187.367    1
1582.955    1
1897.797    1
1915.052    1
1965.018    1
2012.957    1
2057.825    1
2198.044    1
3264.368    1
2551.400    1
2627.698    1
2667.691    1
2678.230    1
2682.920    1
3105.646    1
9903.651    1
Name: COUNTRIES, dtype: int64

In [6]:
df.drop('Unnamed: 0', axis=1, inplace = True)

In [7]:
df1 = df.nlargest(5, "Healthcare_2016 ($ per capita)")

In [8]:
countries_spending = df[["COUNTRIES","Healthcare_2016 ($ per capita)"]].copy()

In [22]:
countries_spending.sort_values("Healthcare_2016 ($ per capita)", ascending=False, inplace=True)

In [20]:
countries_spending

   COUNTRIES  Healthcare_2016 ($ per capita)
29       USA                        9903.651
26       CHE                        6942.187
20       NOR                        5803.702
8        DEU                        5550.175
1        AUT                        5139.924
25       SWE                        5048.876
18       NLD                        5018.406
7        FRA                        4844.017
16       LUX                        4785.896
5        DNK                        4774.269
3        CAN                        4698.016
2        BEL                        4666.226
0        AUS                        4565.873
14       JPN                        4512.845
12       IRL                        4470.748
6        FIN                        4024.490
11       ISL                        3916.333
28       GBR                        3833.251
19       NZL                        3662.218
13       ITA                        3264.368
24       ESP                        3105.646
33       SVN                        2682.920
15       KOR                        2678.230
22       PRT                        2667.691
4        CZE                        2627.698
32       ISR                        2551.400
9        GRC                        2198.044
23       SVK                        2187.367
35       LTU                        2057.825
31       EST                        2012.957
10       HUN                        1965.018
21       POL                        1915.052
30       CHL                        1897.797
34       LVA                        1582.955
27       TUR                        1126.755
17       MEX                        1065.875